*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
:root{
    --font :'Kumbh Sans', sans-serif;
    --orange_color : hsl(26, 100%, 55%);
}
body{
    background-color: hsl(0, 0%, 100%);
    position: relative;
}
/* start header */
header{
    display: flex;
    justify-content:center;
    position: relative;
}
header .container {
    display: flex;
    width: 80%;
    border-bottom: 1px solid hsl(220, 14%, 75%);
    justify-content: space-between;
    align-items: center;
    padding: 27px 0px;
    position: relative;
}
@media (max-width:800px) {
    header .container{
        width: 90%;
    }
}
.logo{
    display: flex;
    align-items: center;
}
.menu{
    display: none;
}
header .container ul {
    display: flex;
    margin-left: 55px;
}
header .container li {
    margin-right: 15px;
}
header .container a {
    color: hsl(220, 14%, 75%);
    font-family: var(--font);
    font-size: 14px;
    position: relative;
}
header .container a::after{
    content: "";
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--orange_color);
    width: 0%;
    height: 3px;
    transition: .5s;
}
header .container a:hover::after{
    width: 100%;
}
header .container a:hover {
    color: #000;
}
.user {
    display: flex;
    align-items: center;
    position: relative;
}
.buying_car{
    border: 0px;
    background: transparent;
    width: 16px;
    cursor: pointer;
}
.buying_car > img{
    width: 100%; 
}
.buying_car img:hover{
    filter: brightness(0);
}
.user >img{
    width: 41px;
    margin-left: 35px;
    border-radius: 50%;
    cursor: pointer;
}
.buying_number{
    position: absolute;
    background-color: var(--orange_color);
    color: #fff;
    font-weight: 700;
    padding: 2px 3px;
    border-radius: 8px;
    top: 2px;
    left: 10px;
    font-size: 12px;
    display: none;
}
@media (max-width:767px) {
    .buying_number{
        top: -6px;
        left: 20px;   
    }
}
.user> img:hover{
    border: 2px solid var(--orange_color);
}
@media (max-width:767px) {
    header .container{
        border-bottom: none;
    }
    header .menu{
        display: block;
        margin-right: 17px;
        width: 18px;
        border: 0;
        background-color: transparent;
        margin-top: 3px;
        cursor: pointer;
    }
    header .menu img{
        width: 100%;
        filter: brightness(0);
    }
    header ul.l {
        display: none;
    }
    .buying_car{
        width: 28px;
    }
    .user> img{
        width: 36px;
        margin-left: 20px;
    }
}
/* start main */
main{
    display: flex;
    justify-content: center;
}
main .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75%;
    padding: 72px 0px;
}
main .container::backdrop{
    background-color: rgba(0,0,0,.70);
}
main .pro_imgs{
    flex:1;
    min-width: 300px;
    max-width: 372px;
    position: relative;
}
.pro_imgs > img {
    width: 100%;
    border-radius: 10px;
    min-width: 300px;
    cursor: pointer;
}
.pro_imgs .small{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.pro_imgs .small div {
    width: calc(90% / 4);
    border-radius: 6px;
    margin-top: 20px;
    min-width: 60px;
    cursor: pointer;
    overflow: hidden;
}
.pro_imgs .small img{
    width: 100%;
    height: 100%;
}
.pro_imgs .small img:hover{
    opacity: .5;
}
.pro_imgs .small div:has(img.active){
    position: relative;
    border: 2px solid var(--orange_color);
}
.pro_imgs .small div:has(img.active)::after{
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 6px;
    opacity: .5;
    background-color:hsl(25, 100%, 94%);
}
.info{
    font-family: var(--font);
    padding: 0px 0px 0px 90px;
    max-width: 514px;
    min-width: 387px;
}
@media (min-width:1300px) {
    main .container{
        justify-content: center;
    }
    .info{
        margin-left: 90px;
    }
}
.company {
    color: var(--orange_color);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
}
.info h1{
    margin-top: 11px;
    margin-bottom: 21px;
    font-size: 35px;
}
.desc{
    color: hsl(219, 9%, 45%);
    font-size: 16px;
    line-height: 1.4;
}
.parent-price{
    margin-top: 20px;
}
.price{
    display: flex;
    align-items: center;
}
.price h2 {
    margin-right: 20px;
    font-size: 24px;
}
.price p {
    color: var(--orange_color);
    background-color: hsl(25, 100%, 94%);
    font-size: 11px;
    padding: 3px;
}
.before-price{
    font-size: 11px;
    margin-top: 6px;
    text-decoration: line-through;
    color: hsl(219, 9%, 45%);
}
.add{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 23px;
}
.add .number{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 159px;
    border-radius: 4px;
    background-color: hsl(223, 64%, 98%);
    margin-right: 10px;    
    padding: 8px 11px;
    height: 42px;
}
.number p {
    font-weight: 700;
}
.number button{
    border: 0;
    background: transparent;
    cursor: pointer;
}
.add > button{
    color: #fff;
    background-color: var(--orange_color);
    border: 0;
    display: flex;
    justify-content: center;
    flex: 1;
    padding: 13px;
    border-radius: 6px;
    align-items: center;
    font-weight: bold;
    font-size: 15px;
    margin-left: 27px;
    cursor: pointer;
    box-shadow: 0px 14px 11px hsl(25, 100%, 94%);
}
.add> button img {
    width: 15px;
    margin-right: 7px;
    filter: brightness(0)invert(1);
}
.add >button:hover{
    opacity: .7;
}
@media (max-width:900px) and (min-width:768px) {
    main .container{
        width: 85%;
    }
    .info{
        padding: 0px 0px 0px 47px;
    }
}
@media (max-width:767px) {
    main .container{
        flex-direction: column;
        width: 100%;
        padding: 10px 0px;
    }
    main .pro_imgs{
        max-width: 100%;
    }
    .pro_imgs > img {
        border-radius: 0;
    }
    .pro_imgs .small{
        display: none;
    }
    .info{
        padding: 32px 27px;
        min-width: 100%;
    }
    .parent-price{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .before-price{
        font-size: 17px;
    }
    .add{
        flex-direction: column;
    }
    .add .number{
        width: 100%;
    }
    .add > button{
        width: 100%;
        margin-top: 30px;
        margin-left: 0px;
    }
}
/* cart content */
.sneaker{
    padding: 20px;
}
.p{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.p >img:first-of-type {
    width: 50px;
    border-radius: 5px;
}
.p .text p:first-of-type{
    font-size: 13px;
    color:  hsl(219, 9%, 45%);
    line-height: 1.4;
}
.p .text span{
    margin-left: 17px;
    font-weight: 700;
    color: #000;
}
.p .dlt{
    width: 10px;
    cursor: pointer;
    border: 0;
    background-color: transparent;
}
.p .dlt img{
    width: 100%;
}
.sneaker> button{
    width: 100%;
    margin-top: 20px;
    border: 0;
    color: #fff;
    background: var(--orange_color);
    padding: 10px;
    border-radius: 7px;
    font-weight: 700;
    cursor: pointer;
}
.user_boughts{
    font-family: var(--font);
    position: absolute;
    background: #fff;
    width: 300px;
    top: 77px;
    right: 1%;
    min-height: 229px;
    border-radius: 11px;
    box-shadow: rgb(0 0 0 / 11%) 1px 24px 24px,
     rgb(0 0 0 / 5%) -1px -1px 10px;
     z-index: 2;
}
@media (max-width:400px) {
    .user_boughts{
        top: 98px;
        right: 50%;
        transform: translateX(50%);
    }
}
.user_boughts .c{
    color: #000;
    font-weight: 700;
    padding: 20px;
    border-bottom: 1px solid  hsl(220, 14%, 75%);
    font-size: 18px;
}
.user_boughts .empty{
    color:  hsl(219, 9%, 45%);
    padding: 20px;
    font-size: 15px;
    font-weight: 700;
    position: absolute;
    height: 78%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* start the bigger click */
.backdrop{
    width: 100%;
    min-height: 100vh;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.70);
}
.bigger_click{
    position: absolute;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    top: 0;
    left: 0;
    background-color:transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bigger_click .pro_imgs2{
    max-width: 417px;
    min-width: 400px;
    position: relative;
}
.pro_imgs2 > img{
    width: 100%;
    border-radius: 12px;
    margin-bottom: 20px;
}
@media (max-width:767px) {
    .bigger_click{
        display: none !important;
    }
    .backdrop{
        display: none !important;
    }
}
.pro_imgs2 .small{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
}
.pro_imgs2 .small div{
    width: calc(80% /4);
    border-radius: 6px;
}
.pro_imgs2 .small img{
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 6px;
}
.pro_imgs2 .small img:hover{
    opacity: .5;
}
.pro_imgs2 .small div:has(img.active){
    position: relative;
}
.pro_imgs2 .small img.active{
    outline: 2px solid var(--orange_color);
}
.pro_imgs2 .small div:has(img.active)::after{
    width: 100%;
    height: 95%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 6px;
    opacity: .5;
    background-color:hsl(25, 100%, 94%);
} 
/* close */
.close{
    position: absolute;
    top: -21px;
    right: -29px;
}
.close_btn{
    width: 20px;
    filter: brightness(0)invert(1);
    cursor: pointer;
}
.moves{
    position: absolute;
    top: 38%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.moves button{
    width: 43px;
    height: 45px;
    cursor: pointer;
    border-radius: 50%;
    background-color: transparent;
    border: 0;  
}
.moves img{
    background: #fff;
    padding: 13px;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
@media (max-width:400px) {
    .moves img {
        width: 31px;
        height: 31px;
        padding: 10px;
    }
}
.moves .next{
    transform: translateX(20px);
}
.moves .prev{
    transform: translateX(-20px);
}
/* start moves2 */
.moves2{
    position: absolute;
    top: 42%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.moves2 button{
    border: 0;
    width: 34px;
    height: 37px;
    cursor: pointer;
    border-radius: 50%;
    background-color: transparent;
}
.moves2 img {
    background: #fff;
    padding: 13px;
    border-radius: 50%;
    width: 100%;
    height: 100%;
} 
.moves2 .next{
    transform: translateX(-10px);
}
.moves2 .prev{
    transform: translateX(10px);
}
@media (min-width:768px) {
    .moves2{
        display: none;
    }
}
/* start menu_m */
.backdrop2{
    position: fixed;
    background-color: rgba(0,0,0,.70);
    width: 100vw;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 2;
}
.menu_m{
    position: fixed;
    z-index: 2;
    background-color: transparent;
    width: 100vw;
    min-height: 131vh;
    height: 100%;
    left: 0;
    top: 0;
}
.menu_m ul{
    width: 200px;
    height: 100%;
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
    gap: 15px;
    position: absolute;
    left: 0px;
}
.menu_m li a{
    color: #000;
    font-weight: 700;
    position: relative;
}
.menu_m li a::after{
    content: "";
    width: 0%;
    height: 2px;
    position: absolute;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--orange_color);
    transition: .5s;
}
.menu_m li a:hover::after{
    width: 100%;
}
.menu_m img{
    width: 16px;
    margin-bottom: 16px;
    cursor: pointer;
}
@media (min-width:768px) {
    .menu_m{
        display: none !important;
    }
    .backdrop2{
        display: none !important;
    }
}